body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

.message-info {
    color: RGB(79, 76, 160);
    background-color: RGB(208, 221, 252);
}

.message-success {
    color: #006400;
    background-color: RGB(214, 242, 220);
}

.message-warning {
    color: RGB(158, 145, 74);
    background-color: RGB(252, 251, 206);
}

.message-error {
    color: RGB(139, 61, 77);
    background-color: RGB(244, 212, 215);
}