
* {
    box-sizing: border-box;
}

h1 {
    text-align: center ;
    color: grey;
    background-color: whitesmoke;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.sr-only {
    background-color: dimgray;
}

.jumbotron {
    background-image: url("../img/pizza.png");
}

i {
    color: grey;
}

.btn {
    float: right;
}