

h1 {
    padding-bottom: 1em;
}

hr {
    border-width: .3em;
    background-color: #89a26b;
}

.main h2 {
    color: dodgerblue;
    text-align: left;
    font-weight: bold;
}

.main p {
    text-align: left;
}

.main {
    padding: 1em;
}

li {
    text-align: left;
    font-weight: bold;
}